.faq-width{
    width: 772px;
    height: auto;
    justify-content: center;
    margin: 10px auto 10px auto;
}
.cvr-height{
    height: 580px;
}

@media only screen and (max-width: 767px) {
    .faq-width{
        width: auto;
    }
    .cvr-height{
        height: 180px;
    }
}
@media screen and (max-width: 991px) {
    .cvr-height{
        height: 260px;
    }
}